
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Admin/_LayoutPage1.cshtml";
}
<div style="text-align: center; font-size: large; color: white">ADD NEW ACCOUNT</div>
<div class="add" style="text-align:center">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name" placeholder="add name" /></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td><input type="text" id="username" name="username" placeholder="add username" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" id="password" name="password" placeholder="add password" /></td>
        </tr>
        <tr>
            <td>Account Type: </td>
            <td><input type="text" id="type" name="type" placeholder="add type" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Add</button></td>
        </tr>
    </table>
</div>