
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/_LayoutPage1.cshtml";
}
<div style="text-align: center; font-size: large; color: white">EDIT ACCOUNT</div>
<div class="edit" style="text-align:center">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name" placeholder="edit name" /></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td><input type="text" id="username" name="username" placeholder="edit username" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" id="password" name="password" placeholder="edit password" /></td>
        </tr>
        <tr>
            <td>Account Type: </td>
            <td><input type="text" id="type" name="type" placeholder="edit type" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Edit</button></td>
        </tr>
    </table>
</div>