
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Trainer/_LayoutPage1.cshtml";
}

<div style="text-align: center; font-size: large; color: white">LIST OF COURSE</div>

<div class="list" style="text-align:center">
    <table style="width: 100%; text-align:center; color: white">
        <tr>
            <th>Course ID</th>
            <th>Course name</th>
            <th>Course Topic</th>
            <th>Start date</th>
        </tr>
        <tr>
            <td>1970</td>
            <td>Application Development</td>
            <td>Code</td>
            <td>26/05/2021</td>
        </tr>
        <tr>
            <td>1951</td>
            <td>Advanced Programming</td>
            <td>Code</td>
            <td>18/05/2021</td>
        </tr>
        <tr>
            <td>1644</td>
            <td>Cloud Computing</td>
            <td>Code</td>
            <td>12/04/2021</td>
        </tr>
    </table>
</div>