
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Trainer/_LayoutPage1.cshtml";
}

<div>_______________________________________________________________________________________</div>
<div style="text-align:center; font-size : xx-large; color: white">UPDATE PROFILE</div>
<div>_______________________________________________________________________________________</div>
<div class="update" style="text-align:center">
    <table style="width: 100%; color:white">
        <tr style="text-align:center">
            <td>Name: </td>
            <td><input type="text" id="name" name="name" placeholder="update name" /></td>
        </tr>
        <tr style="text-align:center">
            <td>Username: </td>
            <td><input type="text" id="username" name="username" placeholder="update username" /></td>
        </tr>
        <tr style="text-align:center">
            <td>Password: </td>
            <td><input type="text" id="password" name="password" placeholder="update password" /></td>
        </tr>
        <tr style="text-align:center">
            <td>Education: </td>
            <td><input type="text" id="education" name="education" placeholder="update education" /></td>
        </tr>
        <tr style="text-align:center">
            <td>Number: </td>
            <td><input type="number" id="number" name="number" placeholder="update number" /></td>
        </tr>
        <tr style="text-align:center">
            <td>Email: </td>
            <td><input type="email" id="email" name="email" placeholder="update email" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Update</button></td>
        </tr>
    </table>
</div>