
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/TrainingStaff/_LayoutPage1.cshtml";
}
<div>_______________________________________________________________________________________</div>
<div style="text-align: center; font-size: xx-large; color: white">ADD NEW CATEGORY</div>
<div>_______________________________________________________________________________________</div>
<div class="add" style="text-align:center">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name" placeholder="add name" /></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><input type="text" id="description" name="description" placeholder="add description" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Add</button></td>
        </tr>
    </table>
</div>
