
@{
    ViewBag.Title = "ManageTopic";
    Layout = "~/Views/TrainingStaff/_LayoutPage1.cshtml";
}

<div>_______________________________________________________________________________________</div>
<div style="text-align: center; font-size:xx-large; color: white">TOPIC LIST</div>
<div>_______________________________________________________________________________________</div>
<div class="list" ">
    <table style="width: 100%; color: white">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr style="text-align: center">
            <td>code</td>
            <td>NULL</td>
            <td>
                <a>@Html.ActionLink("Edit", "EditTopic", "TrainingStaff")</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>research</td>
            <td>NULL</td>
            <td>
                <a>@Html.ActionLink("Edit", "EditTopic", "TrainingStaff")</a>
                <a href="">Delete</a>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>voviman</td>
            <td>NULL</td>
            <td>
                <a>@Html.ActionLink("Edit", "EditTopic", "TrainingStaff")</a>
                <a href="">Delete</a>
            </td>
        </tr>
    </table>
</div>