
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Trainee/_LayoutPage1.cshtml";
}

<div style="text-align: center; font-size: large; color: white">LIST OF COURSE</div>

<div class="list">
    <table style="width: 100%; color: white">
        <tr>
            <th>Course ID</th>
            <th>Course name</th>
            <th>Course Topic</th>
            <th>Start date</th>
        </tr>
        <tr>
            <td>1970</td>
            <td>Application Development</td>
            <td>Code</td>
            <td>26/05/2021</td>
        </tr>
        <tr>
            <td>1939</td>
            <td>Computing Research Project</td>
            <td>Research</td>
            <td>18/05/2021</td>
        </tr>
        <tr>
            <td>VOV131</td>
            <td>Voviman 3</td>
            <td>P.E.</td>
            <td>12/04/2021</td>
        </tr>
    </table>
</div>