
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Trainee/_LayoutPage1.cshtml";
}

<div style="text-align: center; font-size: large; color: white">UPDATE PROFILE</div>
<div class="update" style="text-align:center">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name" placeholder="update name" /></td>
        </tr>
        <tr>
            <td>Username: </td>
            <td><input type="text" id="username" name="username" placeholder="update username" /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" id="password" name="password" placeholder="update password" /></td>
        </tr>
        <tr>
            <td>Day of birth: </td>
            <td><input type="date" id="DOB" name="DOB" placeholder="update DOB" /></td>
        </tr>
        <tr>
            <td>Age: </td>
            <td><input type="number" id="age" name="age" placeholder="update age" /></td>
        </tr>
        <tr>
            <td>Education: </td>
            <td><input type="text" id="education" name="education" placeholder="update education" /></td>
        </tr>
        <tr>
            <td>Language: </td>
            <td><input type="text" id="language" name="language" placeholder="update language" /></td>
        </tr>
        <tr>
            <td>EXP detail: </td>
            <td><input type="text" id="EXPdetail" name="EXPdetail" placeholder="update exp" /></td>
        </tr>
        <tr>
            <td>Department: </td>
            <td><input type="text" id="department" name="department" placeholder="update department" /></td>
        </tr>
        <tr>
            <td>Location: </td>
            <td><input type="text" id="location" name="location" placeholder="update location" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Update</button></td>
        </tr>
    </table>
</div>